.WelcomeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
  background-image: url(./../../../assets/images/HomePage_WelcomeSection_bg.jpg);
}

.bg_tint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 140px);
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  min-height: 400px;
  padding: 40px;
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: 5px;
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-size: 60px;
}

p {
  margin: 10px 0;
  font-size: 20px;
  line-height: 30px;
}
