.AboutSection {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.AboutSection .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AboutSection .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.AboutSection .pizza_history,
.AboutSection .our_pizza {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  margin: 20px;
}

.AboutSection .pizza_history_img,
.AboutSection .our_pizza_img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
  z-index: 5;
}

.AboutSection .our_pizza_description,
.AboutSection .pizza_history_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  max-width: 800px;
  min-width: 400px;
  padding: 40px;
  box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
  text-align: center;
  background-color: whitesmoke;
}

.AboutSection .our_pizza_description {
  border-radius: 0 5px 5px 0;
}

.AboutSection .pizza_history_description {
  border-radius: 5px 0 0 5px;
}

.AboutSection .our_pizza_description p,
.AboutSection .pizza_history_description p {
  font-size: 16px;
  line-height: 30px;
  margin: 10px 0;
}

@media (max-width: 1200px) {
  .AboutSection {
    margin: 20px 0;
  }
}

@media (max-width: 1140px) {
  .AboutSection .pizza_history,
  .AboutSection .our_pizza {
    margin: 20px 0;
  }
}

@media (max-width: 800px) {
  .AboutSection .our_pizza_description,
  .AboutSection .pizza_history_description {
    height: 300px;
  }
}

@media (max-width: 700px) {
  .AboutSection .our_pizza_description,
  .AboutSection .pizza_history_description {
    height: 300px;
    width: 400px;
  }

  .AboutSection .pizza_history,
  .AboutSection .our_pizza {
    flex-direction: column;
  }

  .AboutSection .pizza_history_img,
  .AboutSection .our_pizza_img {
    width: 400px;
    height: 400px;
  }

  .AboutSection .our_pizza_description {
    border-radius: 0 0 5px 5px;
  }

  .AboutSection .pizza_history_description {
    border-radius: 5px 5px 0 0;
  }
}
