.MenuSection {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.MenuSection .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MenuSection .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.MenuSection .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.MenuSection .menu_category {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  max-height: 440px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
}

.MenuSection .menu_category:hover .category_description {
  display: flex;
  align-items: center;
  text-align: center;
}

.MenuSection .category_img {
  width: 100%;
  max-height: 400px;
}

.MenuSection .category_name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 26px;
  background-image: linear-gradient(to right, green, white, white, red);
}

.MenuSection .category_description {
  position: absolute;
  display: none;
  width: 100%;
  height: calc(100% - 40px);
  max-height: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 30px;
  color: whitesmoke;
}

@media (max-width: 1200px) {
  .MenuSection {
    margin: 20px 0;
  }

  .MenuSection .menu_category {
    margin: 5px 0;
  }
}
