.MenuCategory {
}

.MenuCategory .description {
  margin: 20px;
}

.MenuCategory .category_name {
  margin-bottom: 10px;
}

.MenuCategory .category_description {
  line-height: 20px;
  margin-bottom: 10px;
}

.MenuCategory .pizzas {
}

.MenuCategory .pizza {
  display: flex;
  margin: 20px;
}

.MenuCategory .pizza_img {
  width: 150px;
  height: 150px;
  background-color: darkorange;
  border-radius: 5px;
}

.MenuCategory .pizza_details {
  margin: 20px;
}

.MenuCategory .pizza_name {
  margin-bottom: 10px;
}
