.Header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 140px;
  background-color: rgb(34, 34, 34);
  transition: 0.2s;
}

.Header .logo {
  min-height: 140px;
  min-width: 280px;
  transition: 0.2s;
}

.Header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Header .navigation_border_center_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 106px;
  width: 60%;
  min-width: 600px;
  border-top: 6px solid whitesmoke;
  border-bottom: 6px solid whitesmoke;
  transition: 0.2s;
}

.Header .navigation_border_center_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  width: 100%;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  transition: 0.2s;
}

.Header .navigation_border_left,
.Header .navigation_border_right {
  min-height: 140px;
  min-width: 50px;
  height: 140px;
  width: 50px;
  transition: 0.2s;
}

.Header .navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.Header .navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: 20%;
  height: 50px;
  border-left: 1px solid rgb(54, 54, 54);
  transition: 0.2s;
}

.Header .navigation li:first-of-type {
  border: none;
}

.Header .navigation_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}

.Header .navigation_link:hover {
  background-color: gray;
}

.Header_scrolled {
  height: 100px;
}

.Header_scrolled .logo {
  min-height: 100px;
  min-width: 200px;
  margin-right: 80px;
}

.Header_scrolled .navigation_border_left,
.Header_scrolled .navigation_border_right {
  min-height: 100px;
  min-width: 30px;
  height: 100px;
  width: 30px;
}

.Header_scrolled .navigation_border_center_outer {
  border-top: 4px solid whitesmoke;
  border-bottom: 4px solid whitesmoke;
  height: 64px;
}

.Header_scrolled .navigation_border_center_inner {
  height: 50px;
}

.Header_scrolled .navigation li {
  height: 30px;
}

.Header_scrolled .navigation_link {
  font-size: 16px;
}
