.DealsSection {
  display: flex;
  justify-content: center;
  margin: 20px 100px;
  margin: 20px;
}

.DealsSection .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DealsSection .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.DealsSection .deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(54, 54, 54);
}

.DealsSection .deals p {
  margin: 20px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.DealsSection .promo_section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 20px;
  margin-top: 0;
}

.DealsSection .promotion {
  max-width: 300px;
  max-height: 300px;
  margin: 20px;
  background-color: forestgreen;
  border-radius: 5px;
  overflow: hidden;
}

.DealsSection .promotion img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .DealsSection {
    margin: 20px 0;
  }
}

@media (max-width: 800px) {
  .DealsSection .promotion {
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .DealsSection .promo_section {
    flex-direction: column;
    align-items: center;
  }

  .DealsSection .promotion {
    width: 100%;
    max-width: none;
    max-height: none;
  }
}
